/*Definição das cores*/
:root{
    --cor-primaria: #FFF7E5;
    --cor-sec: #D39789;
    --cor-terc: #A3695C;
    --cor-fonte-principal: #402617;
    --cor-fonte-sec: #A27267;
    --cor-fonte-terc: #65524E;
    --cor-fonte-qua: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    padding: 22px 320px;
}
nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: var(--cor-fonte-terc);
    font-size: 26px;
    font-family: "Manuale", serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 61px;
}

