.appointment .main-title{
    text-align: left;
    margin-bottom: 39px;
    font-family: 'Inika', serif;
    font-size: 31.04px;
    color: var(--cor-fonte-principal);
}

.appointment-item .title {
    margin-right: 32px;
    margin-bottom: 10px;
    width: 805px;
    font-family: 'KoHo', sans-serif;
    font-size: 28.712px;
    color: #A27267;
}

.appointment-item .subtitle{
    margin-right: 32px;
    width: 1077px;
    font-family: 'Inika', serif;
    font-size: 24px;
    color: var(--cor-fonte-principal);
}