h4{
    width: 805px;
    font-family: 'KoHo', sans-serif;
    font-size: 28.712px;
    color: #A27267;
    margin: 0;
}

p{
    width: 1077px;
    font-family: 'Inika', serif;
    font-size: 24px;
    color: var(--cor-fonte-principal);
    margin: 12px;
}
