#button{
    background-color: var(--cor-fonte-qua);
    box-shadow: 0 2px 1.5px var(--cor-fonte-terc);
    color: var(--cor-fonte-terc);
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding-left: 86px;
    padding-right: 86px;
    font-size: 32px;
}